.Calculator {
    margin: 0 auto;
    padding: 50px;
}

.Calculator input {
    border: 1px solid #eee;
    font-size: 16px;
    text-align: center;
    height: 50px;
    width: 100px;
}

.Calculator button {
    background: #405f85;
    border: none;
    color: #fff;
    font-size: 16px;
    height: 54px;
    width: 150px;
}

.Calculator .result {
    border: 10px solid rgba(255, 128, 0, 0.859);
    background: rgb(238, 238, 238);
    font-size: 32px;
    margin: 0 auto;
    line-height: 100px;
    height: 100px;
    width: 100px;
}

.Calculator select {
    border: 1px solid #eee;
    font-size: 20px;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 0 8px 0 8px;

    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;

    appearance: none;
    cursor: pointer;
}

.Calculator select:hover{
    background: #3368a1;
    color: #fff;
}